html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-size: 10px;
	background: #ffc600;
}

.photobooth {
	background: white;
	max-width: 150rem;
	margin: 2rem auto;
	border-radius: 2px;
	display: grid;
	grid-template-areas:
		"controls player"
		"photo photo"
		"strip strip";
	grid-auto-columns: minmax(10px, auto);
}

/*clearfix*/
.photobooth:after {
	content: "";
	display: block;
	clear: both;
}

.controls {
	grid-area: controls;
}

.player-wrapper {
	grid-area: player;
	height: 1px;
	z-index: 999;
}

.player {
	float: right;
	width: 200px;
}

.photo {
	grid-area: photo;
	width: 100%;
	float: left;
	/* background-image: url("../pic.jpg"); */
}

body:not(.filter-rgbSplit) .rgbSplit-only {
	/* visibility: hidden; */
	display: none;
}

body:not(.filter-alpha) .alpha-only {
	/* visibility: hidden; */
	display: none;
}

body:not(.filter-greenScreen) .greenScreen-only {
	/* visibility: hidden; */
	display: none;
}

.rgb > div,
.color {
	display: inline-block;
}

.color {
	margin: 4px;
	width: 50px;
	height: 50px;
	background: grey;
}

/*
  Strip!
*/

.strip {
	grid-area: strip;
	padding: 2rem;
}

.strip img {
	width: 100px;
	overflow-x: scroll;
	padding: 0.8rem 0.8rem 2.5rem 0.8rem;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	background: white;
}

.strip a:nth-child(5n + 1) img {
	transform: rotate(10deg);
}
.strip a:nth-child(5n + 2) img {
	transform: rotate(-2deg);
}
.strip a:nth-child(5n + 3) img {
	transform: rotate(8deg);
}
.strip a:nth-child(5n + 4) img {
	transform: rotate(-11deg);
}
.strip a:nth-child(5n + 5) img {
	transform: rotate(12deg);
}
